<!-- Variables Climáticas Details -->

<div class="mb-3">
    <label class="form-label">Zone:</label><br>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="zona" id="bosque" value="Bosque">
      <label class="form-check-label" for="bosque">Bosque</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="zona" id="agroforestal" value="Arreglo Agroforestal">
      <label class="form-check-label" for="agroforestal">Arreglo Agroforestal</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="zona" id="transitorios" value="Cultivos Transitorios">
      <label class="form-check-label" for="transitorios">Cultivos Transitorios</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="zona" id="permanentes" value="Cultivos Permanentes">
      <label class="form-check-label" for="permanentes">Cultivos Permanentes</label>
    </div>
  </div>
  
  <div class="mb-3">
    <label class="form-label">Pluviosity (mm):</label>
    <input type="number" step="0.1" class="form-control" name="pluvosidadMm" placeholder="Ej. 45.3">
  </div>
  
  <div class="mb-3">
    <label class="form-label">Max Temperature (°C):</label>
    <input type="number" step="0.1" class="form-control" name="temperaturaMaxima" placeholder="Ej. 32.5">
  </div>
  
  <div class="mb-3">
    <label class="form-label">Max Humidity (%):</label>
    <input type="number" class="form-control" name="humedadMaxima" placeholder="Ej. 88">
  </div>
  
  <div class="mb-3">
    <label class="form-label">Min Temperature (°C):</label>
    <input type="number" step="0.1" class="form-control" name="temperaturaMinima" placeholder="Ej. 18.7">
  </div>
  
  <div class="mb-3">
    <label class="form-label">Stream Level (m):</label>
    <input type="number" step="0.01" class="form-control" name="nivelQuebradaMt" placeholder="Ej. 0.45">
  </div>
  
  