body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4eedc;
    display: flex;
    height: 100vh;
    overflow: hidden;
  }

  .sidebar {
    width: 240px;
    background-color: #364c3e;
    color: white;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 30px;
  }

  .menu-item {
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 15px;
    cursor: pointer;
  }

  .menu-item i {
    font-size: 22px;
  }

  .main-content {
    flex: 1;
    padding: 40px;
  }

  .projects-container {
max-width: 900px;
margin: 40px auto;
font-family: Arial, sans-serif;
}

.project-card {
background-color: #f9f6eb;
border: 1px solid #ccc;
border-radius: 8px;
margin-bottom: 15px;
padding: 15px 20px;
box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.project-info {
display: flex;
justify-content: space-between;
align-items: center;
}

.left {
display: flex;
align-items: flex-start;
gap: 10px;
}

.left i {
font-size: 24px;
color: #364c3e;
margin-top: 2px;
}

.left strong {
font-size: 16px;
color: #000;
}

.left span {
font-size: 14px;
color: #333;
display: block;
}



.right div {
font-size: 14px;
color: #333;
margin-bottom: 10px;
}

.btn-admin {
background-color: #364c3e;
color: white;
border: none;
scale: 110%;
padding: 6px 16px;
border-radius: 6px;
font-weight: bold;
cursor: pointer;
}

.btn-admin:hover {
background-color: #2b3a31;
}