body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4eedc;
    height: 100vh;
    display: flex;
  }
  h2 {
          font-family: 'Grotesk';
          font-weight: bold;
          color: #375040;
        }
  .sidebar {
    width: 60px;
    background-color: #364c3e;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: width 0.3s;
  }

  .sidebar:hover {
    width: 200px;
  }

  .menu-item {
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .menu-item:hover {
    background-color: #2b3a31;
  }

  .menu-item i {
    font-size: 24px;
    margin-right: 10px;
  }

  .menu-item span {
    display: none;
    font-size: 18px;
  }

  .sidebar:hover .menu-item span {
    display: inline;
  }

  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #364c3e;
    padding-bottom: 100px; 
  }

  .search-box {
    width: 300px;
  }

  h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: -250px;
  }